p#sideprice {
  margin: 10px;
}
span.num {
    font-size: 1.2rem;
}
#regModal{
  display: none;  
}
.bottom {
    /*bottom: 0;
    position: absolute;*/
}
button.btn.check {
    background-color: #ef5e12;
}
button.btn.view {
    border: 1px solid #ef5e12;
}
.button {
    /*position: absolute;*/
    bottom: 0;
    text-align: center;
    width: 100%;
    background-color: #b3b1b1;
    padding: 20px;
}
.card.side {
    display: inline;
    width: 96%;
}
span#totalamt {
    font-size: 1.5rem;
    font-weight: bold;
}
img#sideimg {
    height: 150px;
    width: 150px;
    float: left;
}
  input#quan {
    width: 29%;
}
ul.dropdown-menu li {
    padding: 8px;
}
.modal-backdrop {
  z-index: 0!important;
}
.modal-open {
  overflow: unset;
}
.fluid-container {
/*  border: 1px solid #ccc;
  overflow: auto;*/
  position: relative;
}

  .navbar-side {
    height: 100%;
    width: 25%;
    position: fixed;
    top: 0;
    right: 0;
    padding: 0;
    list-style: none;
    border-left: 2px solid #ccc;
    background-color: #f7f7f9;
    overflow-y: scroll;
    z-index: 1000;
  }
  ul#navbarSide {
      background-color: #eee;
  }
  li.navbar-side-item:hover {
    background-color: #000000;
  }
  a.side-link:hover {
    background-color: white;
  }
   .navbar-side-item {
      /*padding: 1.5rem 0;*/
      margin: 0;
  }

  .side-link {
    padding-left: 2rem;
  }
   .navbar-side {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: 300ms ease;
    transition: 300ms ease;
  }
   .reveal {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transition: 300ms ease;
    transition: 300ms ease;
  }
  .overlay {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
    background-color: #000000;
    opacity: 0.6;
    z-index: 990;
  }
  .navbar-side li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255, 255, 255, 0.2);
  }

.line {
  height: 10px;
  width: 100%;
  background-color: #ef5e12;
}

img.error {
    float: right;
}
img.cart {
    height: 25px;
}
img.error:hover {
  cursor: pointer;
}
img.truck:hover {
  cursor: pointer;
}
img.cart:hover {
  cursor: pointer;
}
#master .navbar-nav .nav-link {
    color: #000000;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .05em;
    padding: .4em;
    margin: 0 10px 0;
}
#master .navbar-nav .nav-link:hover {
    color: #FF1800;
}
#master {
    display: flex;
    justify-content: center;
     /*position: fixed;*/
    /*top: 0;*/
    /*left: 0;*/
    height: 60px;
    z-index: 500;
    background-color: coral;
}
.row {
    display: flex;
    justify-content: center;
}
img.logosite {
    max-height: 100px;
}
ul.dropdown-menu li a {
    color: #000000;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .05em;
    padding: .4em;
    margin: 0 10px 0;
}
#other .navbar-nav .nav-link {
    color: #000000;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .05em;
    padding: .4em;
    margin: 0 10px 0;
}
#other .navbar-nav .nav-link:hover {
    color: #FF1800;
} 
.sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 500;
}
.tab-sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 500;
}
.mobile-sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 500;
}
span.navbar-toggler-icon {
    height: 3rem;
    width: 3rem;
}
div#navbarNav {
    z-index: 1000;
}
#myModal1 {
  padding-right: 0px!important;
}
#myModal2 {
  padding-left: 0px;
}


@media only screen and (max-width: 768px) {
  #master {
    display: unset !important;
    height: auto !important;
    width: 100%; 
    z-index: 500;
    /*position: fixed;*/
    top: 0;
  }
  img.logosite {
    max-height: 60px;
    float: right;
    position: absolute;
    right: 0;
    margin-right: 29%;
  }
  a.nav-link {
    display: block;
  }
  .row {
    display: unset;
    float: right;
  }
  .sticky {
    position: unset;
  }
}
@media only screen and (max-width: 450px) {
  #master {
    display: unset;
    height: auto;
    width: 100%; 
    z-index: 500;
    /*position: fixed;*/
    top: 0;
  }
  img.logosite {
    max-height: 60px;
    float: right;
    position: absolute;
    right: 0;
    margin-right: 29%;
  }
  a.nav-link {
    display: block;
  }
  .row {
    display: unset;
    float: right;
  }
  .sticky {
    position: unset;
  }
  .navbar-side {
    width: 100%;
  } 

}

